/* Header da página */
.header-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
    padding-top: 45px;
}

.header-admin h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #ffffff;
}

/* Container da tabela */
.content-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Tabela */
.tabela {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    background-color: #1e1f26;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Cabeçalho da tabela */
.titulo-coluna {
    background-color: #2f455c;
    color: white;
}

.titulo-coluna th {
    padding: 25px;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0.5px;
}

/* Linhas da tabela */
.tabela tbody tr {
    border-bottom: 1px solid #000000;
    transition: background-color 0.2s;
}

.tabela tbody tr:hover {
    background-color: #2b2d36;
}

.tabela tbody td {
    padding: 15px;
    font-size: 22px;
    color: #8f8f8f;
}

/* Botão */
.button-load-appointments {
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    background: #424242;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 50ms ease-out;
    font-weight: 600;
}

.button-load-appointments:hover,
.button-load-appointments:focus,
.button-load-appointments:focus-visible {
    background: #353535;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, .05) inset,
        0 0 0 1px rgba(0, 0, 0, .7),
        0 -1px 0 0 rgba(0, 0, 0, .7) inset,
        0 1px 2px 1px rgba(0, 0, 0, .6);
    border: none;
    outline: none;
}

.button-load-appointments:active {
    background: #181818;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .7) inset,
        0 1px 0 0 rgba(255, 255, 255, .05),
        0 1px 2px 1px rgba(0, 0, 0, .6) inset;
}


.botao-cancelamento {
    background: transparent;
    font-size: 1.3rem;
    border: none;
    padding: 0;
    cursor: pointer;
}

.cancelamento-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    padding: 35px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    background: #1e1f26;
    border: 1px solid #363842;
    border-radius: 12px;

    text-align: center;
    z-index: 1000;
}

.confirmacao-cancelamento {
    padding-top: 2vh;
    font-size: 2.3rem;
    line-height: 1.2;
    margin: 0 0 15px;
    color: rgb(0, 163, 0);
}

.confirmar-cancelamento,
.cancelar-cancelamento {
    padding: 12px 20px;
    font-size: 1.5rem;
    border-radius: 8px;
    cursor: pointer;
}

.confirmar-cancelamento {
    background: #b83a3a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cancelar-cancelamento {
    background: #2b2d36;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}