.container-agendamento{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
}

.content-agendamento{
    display: flex;
    gap: 7vh;
    align-items: center;
}

.options-agendamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7vh;
}
