.container-home{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    align-items: center;
    gap: 10vh;
}

.about-us{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 53vh;;
}

.our-services{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.row-our-services{
    display: flex;
    flex-direction: row;
    gap: 7vh;
}
